body {
    color: #000066;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

}
#dylay li { color: #FFFFFF; }

#dylay div span { border-radius: 5px; margin: 4px; border: 2px solid #000066; font-weight: bold; padding: 3px 3px; z-index: 0; box-shadow: 2px 2px 1px 1px #aa66aa; color: #222222; display: block; }

#dylay div span:hover {

    border-radius: 1px; margin: 4px; border: 3px dashed #000066;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}
