body {
    color: #000066;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

}
#dylay li { color: #FFFFFF; }

#dylay div span { border-radius: 5px; margin: 6px; border: 2px solid #668888; font-weight: bold; padding: 3px 3px; z-index: 0; box-shadow: 2px 2px 1px 1px #aa66aa; color: #660000; display: block; }
